{% extends "base.html" %}
{% block title %}Active Quizzes{% endblock %}

{% block content %}
<h3>Active Quizzes</h3>

<table class="table table-bordered">
    <tr>
        <th>Module</th>
        <th>Quiz</th>
        <th>Action</th>
    </tr>

    {% for quiz in quizzes %}
    <tr>
        <td>{{ quiz.module_name }}</td>
        <td>{{ quiz.title }}</td>
        <td>
            <a href="{{ url_for('attempt_quiz', quiz_id=quiz.id) }}"
               class="btn btn-success">
                Attempt
            </a>
        </td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
